<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Neos\FluidAdaptor\View\AbstractTemplateView | Flow Framework</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../fonts/doctum-font.css">
        <script src="../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../doctum.js"></script>
        <script async defer src="../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="https://www.neos.io/favicon-32x32.png" />
        <link rel="search"
          type="application/opensearchdescription+xml"
          href="https://neos.github.io/opensearch.xml"
          title="Flow Framework (7.1)" />
    </head>

    <body id="class" data-name="class:Neos_FluidAdaptor_View_AbstractTemplateView" data-root-path="../../../" data-search-index-url="../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Flow Framework</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                    <li><a href="../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor.html">FluidAdaptor</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor/View.html">View</a></li><li class="backslash">\</li><li>AbstractTemplateView</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>AbstractTemplateView    
            </h1>
    </div>

    
    <p>    abstract     class
    <strong>AbstractTemplateView</strong>        extends <abbr title="TYPO3Fluid\Fluid\View\AbstractTemplateView">AbstractTemplateView</abbr>        implements        <a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a>        (<a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php">View source</a>)
</p>

        
    
        

            <div class="description">
            <p><p>The abstract base of all Fluid views.</p></p>                    </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_supportedOptions">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$supportedOptions</td>
                <td class="last"><p>This contains the supported options, their default values, descriptions and types.</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_options">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$options</td>
                <td class="last"><p>The configuration options of this view</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_controllerContext">
                                        protected                                        <a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a>
                                                                                
                                    </td>
                <td>$controllerContext</td>
                <td class="last"></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;<a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_createWithOptions">createWithOptions</a>(array $options)
        
                                            <p><p>Factory method to create an instance with given options.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method___construct">__construct</a>(array $options = null)
        
                                            <p><p>Set default options based on the supportedOptions provided</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplatePathAndFilename">setTemplatePathAndFilename</a>(string $templatePathAndFilename)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setControllerContext">setControllerContext</a>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8">
                    <a href="#method_canRender">canRender</a>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_renderSection">renderSection</a>(string $sectionName, array $variables = [], bool $ignoreUnknown = false)
        
                                            <p><p>Renders a given section.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_validateOptions">validateOptions</a>(array $options)
        
                                            <p><p>Validate options given to this view.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setOptions">setOptions</a>(array $options)
        
                                            <p><p>Merges the given options with the default values
and sets the resulting options in this object.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_getOption">getOption</a>(string $optionName)
        
                                            <p><p>Get a specific option of this View</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setOption">setOption</a>(string $optionName, mixed $value)
        
                                            <p><p>Set a specific option of this View</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_createWithOptions">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L114">at line 114</a></div>
        <code>        static            <a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a>
    <strong>createWithOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Factory method to create an instance with given options.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L125">at line 125</a></div>
        <code>                    
    <strong>__construct</strong>(array $options = null)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set default options based on the supportedOptions provided</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/Exception.html"><abbr title="Neos\FluidAdaptor\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplatePathAndFilename">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L144">at line 144</a></div>
        <code>                    void
    <strong>setTemplatePathAndFilename</strong>(string $templatePathAndFilename)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templatePathAndFilename</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setControllerContext">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L153">at line 153</a></div>
        <code>                    void
    <strong>setControllerContext</strong>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a></td>
                <td>$controllerContext</td>
                <td><p>Context of the controller associated with this view</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_canRender">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L183">at line 183</a></div>
        <code>                    bool
    <strong>canRender</strong>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a></td>
                <td>$controllerContext</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td><p>true if the view has something useful to display, otherwise false</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderSection">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L197">at line 197</a></div>
        <code>                    string
    <strong>renderSection</strong>(string $sectionName, array $variables = [], bool $ignoreUnknown = false)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Renders a given section.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$sectionName</td>
                <td><p>Name of section to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$variables</td>
                <td><p>The variables to use</p></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$ignoreUnknown</td>
                <td><p>Ignore an unknown section and just return an empty string</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>rendered template for the section</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidSectionException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidSectionException">InvalidSectionException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_validateOptions">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L214">at line 214</a></div>
        <code>            protected        void
    <strong>validateOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Validate options given to this view.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/Exception.html"><abbr title="Neos\FluidAdaptor\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setOptions">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L240">at line 240</a></div>
        <code>            protected        void
    <strong>setOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Merges the given options with the default values
and sets the resulting options in this object.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getOption">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L260">at line 260</a></div>
        <code>                    mixed
    <strong>getOption</strong>(string $optionName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Get a specific option of this View</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Exception.html"><abbr title="Neos\Flow\Mvc\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setOption">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.1/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L277">at line 277</a></div>
        <code>                    void
    <strong>setOption</strong>(string $optionName, mixed $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set a specific option of this View</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Exception.html"><abbr title="Neos\Flow\Mvc\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.            <br/>Learn more about the <a href="https://flow.neos.io" rel="noreferrer noopener" target="_blank">Flow Framework</a> if you like!</div></div>
    </div>
    </body>

</html>
