<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Neos\Neos\Service\View\NodeView | Neos CMS</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../../fonts/doctum-font.css">
        <script src="../../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../doctum.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="https://www.neos.io/favicon-32x32.png" />
        <link rel="search"
          type="application/opensearchdescription+xml"
          href="https://neos.github.io/opensearch.xml"
          title="Neos CMS (7.3)" />
    </head>

    <body id="class" data-name="class:Neos_Neos_Service_View_NodeView" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">Neos CMS</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                    <li><a href="../../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Neos/Service.html">Service</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Neos/Service/View.html">View</a></li><li class="backslash">\</li><li>NodeView</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>NodeView    
            </h1>
    </div>

    
    <p>        class
    <strong>NodeView</strong>        extends <abbr title="Neos\Flow\Mvc\View\JsonView">JsonView</abbr>        (<a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php">View source</a>)
</p>

        
    
        

            <div class="description">
            <p><p>An View specialized on single or multiple Nodes in a tree structure</p></p>            <p><p>NOTE: This class only exists for backwards compatibility with not-yet refactored service end points and service
controllers.</p></p>        </div>
            
        
            <h2>Constants</h2>    <table class="table table-condensed">
                    <tr>
                <td>
                                                                                                                        STYLE_LIST
                                    </td>
                <td class="last">
                    <p><em></em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>
                                                                                                                        STYLE_TREE
                                    </td>
                <td class="last">
                    <p><em></em></p>
                    <p></p>
                </td>
            </tr>
            </table>

    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_outputStyle">
                                        protected                                        int
                                                                                
                                    </td>
                <td>$outputStyle</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_systemLogger">
                                        protected                                        <abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr>
                                                                                
                                    </td>
                <td>$systemLogger</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_privilegeManager">
                                        protected                                        <abbr title="Neos\Flow\Security\Authorization\PrivilegeManagerInterface">PrivilegeManagerInterface</abbr>
                                                                                
                                    </td>
                <td>$privilegeManager</td>
                <td class="last"></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_assignNode">assignNode</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, array $propertyNames = [&#039;name&#039;, &#039;path&#039;, &#039;identifier&#039;, &#039;properties&#039;, &#039;nodeType&#039;])
        
                                            <p><p>Assigns a node to the NodeView.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_assignNodes">assignNodes</a>(array $nodes)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_assignChildNodes">assignChildNodes</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter, int $outputStyle = self::STYLE_LIST, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null)
        
                                            <p><p>Prepares this view to render a list or tree of child nodes of the given node.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_assignNodeAndChildNodes">assignNodeAndChildNodes</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter = &#039;&#039;, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null)
        
                                            <p><p>Prepares this view to render a list or tree of given node including child nodes.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_assignFilteredChildNodes">assignFilteredChildNodes</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, array $matchedNodes, int $outputStyle = self::STYLE_LIST)
        
                                            <p><p>Prepares this view to render a list or tree of filtered nodes.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_collectChildNodeData">collectChildNodeData</a>(array $nodes, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null, int $recursionPointer = 1)
        
                                            <p><p>Collect node data and traverse child nodes</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_collectParentNodeData">collectParentNodeData</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $rootNode, array $nodes)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_collectTreeNodeData">collectTreeNodeData</a>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, bool $expand = true, array $children = [], bool $hasChildNodes = false, bool $matched = false)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_assignNode">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L65">at line 65</a></div>
        <code>                    void
    <strong>assignNode</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, array $propertyNames = [&#039;name&#039;, &#039;path&#039;, &#039;identifier&#039;, &#039;properties&#039;, &#039;nodeType&#039;])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Assigns a node to the NodeView.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td><p>The node to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$propertyNames</td>
                <td><p>Optional list of property names to include in the JSON output</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignNodes">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L84">at line 84</a></div>
        <code>                    void
    <strong>assignNodes</strong>(array $nodes)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$nodes</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Neos\Eel\Exception">Exception</abbr></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignChildNodes">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L115">at line 115</a></div>
        <code>                    void
    <strong>assignChildNodes</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter, int $outputStyle = self::STYLE_LIST, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Prepares this view to render a list or tree of child nodes of the given node.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td><p>The node to fetch child nodes of</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$nodeTypeFilter</td>
                <td><p>Criteria for filtering the child nodes</p></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$outputStyle</td>
                <td><p>Either STYLE_TREE or STYLE_list</p></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$depth</td>
                <td><p>How many levels of childNodes (0 = unlimited)</p></td>
            </tr>
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$untilNode</td>
                <td><p>if given, expand all nodes on the rootline towards $untilNode, no matter what is defined with $depth.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignNodeAndChildNodes">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L136">at line 136</a></div>
        <code>                    void
    <strong>assignNodeAndChildNodes</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter = &#039;&#039;, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Prepares this view to render a list or tree of given node including child nodes.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td><p>The node to fetch child nodes of</p></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$nodeTypeFilter</td>
                <td><p>Criteria for filtering the child nodes</p></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$depth</td>
                <td><p>How many levels of childNodes (0 = unlimited)</p></td>
            </tr>
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$untilNode</td>
                <td><p>if given, expand all nodes on the rootline towards $untilNode, no matter what is defined with $depth.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignFilteredChildNodes">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L158">at line 158</a></div>
        <code>                    void
    <strong>assignFilteredChildNodes</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, array $matchedNodes, int $outputStyle = self::STYLE_LIST)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Prepares this view to render a list or tree of filtered nodes.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$matchedNodes</td>
                <td></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$outputStyle</td>
                <td><p>Either STYLE_TREE or STYLE_list</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_collectChildNodeData">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L178">at line 178</a></div>
        <code>            protected        void
    <strong>collectChildNodeData</strong>(array $nodes, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, string $nodeTypeFilter, int $depth = 0, <a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $untilNode = null, int $recursionPointer = 1)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Collect node data and traverse child nodes</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$nodes</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$nodeTypeFilter</td>
                <td></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$depth</td>
                <td><p>levels of child nodes to fetch. 0 = unlimited</p></td>
            </tr>
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$untilNode</td>
                <td><p>if given, expand all nodes on the rootline towards $untilNode, no matter what is defined with $depth.</p></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$recursionPointer</td>
                <td><p>current recursion level</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_collectParentNodeData">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L222">at line 222</a></div>
        <code>                    array
    <strong>collectParentNodeData</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $rootNode, array $nodes)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$rootNode</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$nodes</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_collectTreeNodeData">
        <div class="location"><a href="https://github.com/neos/neos-development-collection/blob/7.3/Neos.Neos/Classes/Service/View/NodeView.php#L282">at line 282</a></div>
        <code>                    array
    <strong>collectTreeNodeData</strong>(<a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a> $node, bool $expand = true, array $children = [], bool $hasChildNodes = false, bool $matched = false)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Neos/ContentRepository/Domain/Model/NodeInterface.html"><abbr title="Neos\ContentRepository\Domain\Model\NodeInterface">NodeInterface</abbr></a></td>
                <td>$node</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$expand</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$children</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$hasChildNodes</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$matched</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.            <br/>Learn more about the <a href="https://www.neos.io" rel="noreferrer noopener" target="_blank">Neos Content Application Platform</a> if you like!</div></div>
    </div>
    </body>

</html>
