<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Neos\FluidAdaptor\View\TemplatePaths | Flow Framework</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../fonts/doctum-font.css">
        <script src="../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../doctum.js"></script>
        <script async defer src="../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="https://www.neos.io/favicon-32x32.png" />
        <link rel="search"
          type="application/opensearchdescription+xml"
          href="https://neos.github.io/opensearch.xml"
          title="Flow Framework (7.2)" />
    </head>

    <body id="class" data-name="class:Neos_FluidAdaptor_View_TemplatePaths" data-root-path="../../../" data-search-index-url="../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Flow Framework</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                    <li><a href="../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor.html">FluidAdaptor</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor/View.html">View</a></li><li class="backslash">\</li><li>TemplatePaths</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>TemplatePaths    
            </h1>
    </div>

    
    <p>        class
    <strong>TemplatePaths</strong>        extends <abbr title="TYPO3Fluid\Fluid\View\TemplatePaths">TemplatePaths</abbr>        (<a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php">View source</a>)
</p>

        
    
        

            <div class="description">
            <p><p>Class TemplatePaths</p></p>            <p><p>Custom implementation for template paths resolving, one which differs from the base
implementation in that it is capable of resolving template paths based on Fusion
configuration when given a package name, and is aware of the Frontend/Backend contexts of TYPO3.</p></p>        </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_templateRootPathPattern">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$templateRootPathPattern</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_layoutRootPathPattern">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$layoutRootPathPattern</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_partialRootPathPattern">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$partialRootPathPattern</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_patternReplacementVariables">
                                        protected                                        string[]
                                                                                
                                    </td>
                <td>$patternReplacementVariables</td>
                <td class="last"><p>A map of key =&gt; values to be replaced in path patterns.</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_options">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$options</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_packageManager">
                                        protected                                        <a href="../../../Neos/Flow/Package/PackageManager.html"><abbr title="Neos\Flow\Package\PackageManager">PackageManager</abbr></a>
                                                                                
                                    </td>
                <td>$packageManager</td>
                <td class="last"></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method___construct">__construct</a>(array $options = [])
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_injectPackageManager">injectPackageManager</a>(<a href="../../../Neos/Flow/Package/PackageManager.html"><abbr title="Neos\Flow\Package\PackageManager">PackageManager</abbr></a> $packageManager)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getTemplateRootPathPattern">getTemplateRootPathPattern</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplateRootPathPattern">setTemplateRootPathPattern</a>(string $templateRootPathPattern)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setLayoutRootPathPattern">setLayoutRootPathPattern</a>(string $layoutRootPathPattern)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setPartialRootPathPattern">setPartialRootPathPattern</a>(string $partialRootPathPattern)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplateRootPath">setTemplateRootPath</a>(string $templateRootPath)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getTemplateRootPaths">getTemplateRootPaths</a>()
        
                                            <p><p>Resolves the template root to be used inside other paths.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getLayoutRootPaths">getLayoutRootPaths</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_getPartialRootPaths">getPartialRootPaths</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setLayoutRootPath">setLayoutRootPath</a>(string $layoutRootPath)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setPartialRootPath">setPartialRootPath</a>(string $partialRootPath)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string[]
                </div>
                <div class="col-md-8">
                    <a href="#method_getPatternReplacementVariables">getPatternReplacementVariables</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setPatternReplacementVariables">setPatternReplacementVariables</a>(string[] $patternReplacementVariables)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed|string
                </div>
                <div class="col-md-8">
                    <a href="#method_resolveTemplateFileForControllerAndActionAndFormat">resolveTemplateFileForControllerAndActionAndFormat</a>(string $controller, string $action, string $format = null)
        
                                            <p><p>Resolves a template file based on the given controller and action,
together with eventually defined patternReplacementVariables.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getLayoutPathAndFilename">getLayoutPathAndFilename</a>(string $layoutName = &#039;Default&#039;)
        
                                            <p><p>Resolve the path and file name of the layout file, based on
$this-&gt;options['layoutPathAndFilename'] and $this-&gt;options['layoutPathAndFilenamePattern'].</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getPartialPathAndFilename">getPartialPathAndFilename</a>(string $partialName)
        
                                            <p><p>Resolve the partial path and filename based on $this-&gt;options['partialPathAndFilenamePattern'].</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getPackagePath">getPackagePath</a>(string $packageName)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_sanitizePath">sanitizePath</a>(string $path)
        
                                            <p><p>Sanitize a path, ensuring it is absolute and
if a directory, suffixed by a trailing slash.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8">
                    <a href="#method_getPackagePrivateResourcesPath">getPackagePrivateResourcesPath</a>(string $packageKey)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_expandGenericPathPattern">expandGenericPathPattern</a>(string $pattern, array $patternReplacementVariables, bool $bubbleControllerAndSubpackage, bool $formatIsOptional)
        
                                            <p><p>Processes following placeholders inside $pattern:</p>
<ul>
<li>&quot;@templateRoot&quot;</li>
<li>&quot;@partialRoot&quot;</li>
<li>&quot;@layoutRoot&quot;</li>
<li>&quot;@subpackage&quot;</li>
<li>&quot;@controller&quot;</li>
<li>&quot;@format&quot;</li>
</ul></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_replacePatternVariable">replacePatternVariable</a>(array $paths, string $variableName, string $variableValue)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_expandSubPackageAndController">expandSubPackageAndController</a>(array $paths, string $controllerName, string $subPackageKey = &#039;&#039;, bool $bubbleControllerAndSubpackage = false)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_expandPatterns">expandPatterns</a>(array $patterns, string $search, array $replacements)
        
                                            <p><p>Expands the given $patterns by adding an array element for each $replacement
replacing occurrences of $search.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_getOption">getOption</a>(string $optionName)
        
                                            <p><p>Get a specific option of this object</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setOption">setOption</a>(string $optionName, mixed $value)
        
                                            <p><p>Set a specific option of this object</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_createIdentifierForFile">createIdentifierForFile</a>(string|null $pathAndFilename, string $prefix)
        
                                            <p><p>Returns a unique identifier for the given file in the format</p>
<PackageKey>_<SubPackageKey>_<ControllerName>_<prefix>_<SHA1>
The SH1 hash is a checksum that is based on the file path and last modification date</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L63">at line 63</a></div>
        <code>                    
    <strong>__construct</strong>(array $options = [])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_injectPackageManager">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L73">at line 73</a></div>
        <code>                    
    <strong>injectPackageManager</strong>(<a href="../../../Neos/Flow/Package/PackageManager.html"><abbr title="Neos\Flow\Package\PackageManager">PackageManager</abbr></a> $packageManager)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Package/PackageManager.html"><abbr title="Neos\Flow\Package\PackageManager">PackageManager</abbr></a></td>
                <td>$packageManager</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateRootPathPattern">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L81">at line 81</a></div>
        <code>                    string
    <strong>getTemplateRootPathPattern</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplateRootPathPattern">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L89">at line 89</a></div>
        <code>                    
    <strong>setTemplateRootPathPattern</strong>(string $templateRootPathPattern)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateRootPathPattern</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setLayoutRootPathPattern">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L97">at line 97</a></div>
        <code>                    
    <strong>setLayoutRootPathPattern</strong>(string $layoutRootPathPattern)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$layoutRootPathPattern</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPartialRootPathPattern">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L105">at line 105</a></div>
        <code>                    
    <strong>setPartialRootPathPattern</strong>(string $partialRootPathPattern)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$partialRootPathPattern</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplateRootPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L113">at line 113</a></div>
        <code>                    
    <strong>setTemplateRootPath</strong>(string $templateRootPath)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateRootPath</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L123">at line 123</a></div>
        <code>                    array
    <strong>getTemplateRootPaths</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Resolves the template root to be used inside other paths.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td><p>Path(s) to template root directory</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLayoutRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L144">at line 144</a></div>
        <code>                    array
    <strong>getLayoutRootPaths</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPartialRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L162">at line 162</a></div>
        <code>                    
    <strong>getPartialRootPaths</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setLayoutRootPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L183">at line 183</a></div>
        <code>                    
    <strong>setLayoutRootPath</strong>(string $layoutRootPath)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$layoutRootPath</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPartialRootPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L191">at line 191</a></div>
        <code>                    
    <strong>setPartialRootPath</strong>(string $partialRootPath)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$partialRootPath</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPatternReplacementVariables">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L199">at line 199</a></div>
        <code>                    string[]
    <strong>getPatternReplacementVariables</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string[]</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPatternReplacementVariables">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L207">at line 207</a></div>
        <code>                    
    <strong>setPatternReplacementVariables</strong>(string[] $patternReplacementVariables)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string[]</td>
                <td>$patternReplacementVariables</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_resolveTemplateFileForControllerAndActionAndFormat">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L222">at line 222</a></div>
        <code>                    mixed|string
    <strong>resolveTemplateFileForControllerAndActionAndFormat</strong>(string $controller, string $action, string $format = null)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Resolves a template file based on the given controller and action,
together with eventually defined patternReplacementVariables.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$controller</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$action</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$format</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed|string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLayoutPathAndFilename">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L264">at line 264</a></div>
        <code>                    string
    <strong>getLayoutPathAndFilename</strong>(string $layoutName = &#039;Default&#039;)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Resolve the path and file name of the layout file, based on
$this-&gt;options['layoutPathAndFilename'] and $this-&gt;options['layoutPathAndFilenamePattern'].</p></p>                <p><p>In case a layout has already been set with setLayoutPathAndFilename(),
this method returns that path, otherwise a path and filename will be
resolved using the layoutPathAndFilenamePattern.</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$layoutName</td>
                <td><p>Name of the layout to use. If none given, use &quot;Default&quot;</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>Path and filename of layout files</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPartialPathAndFilename">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L293">at line 293</a></div>
        <code>                    string
    <strong>getPartialPathAndFilename</strong>(string $partialName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Resolve the partial path and filename based on $this-&gt;options['partialPathAndFilenamePattern'].</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$partialName</td>
                <td><p>The name of the partial</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>the full path which should be used. The path definitely exists.</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPackagePath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L322">at line 322</a></div>
        <code>            protected        string
    <strong>getPackagePath</strong>(string $packageName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$packageName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_sanitizePath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L345">at line 345</a></div>
        <code>            protected        string
    <strong>sanitizePath</strong>(string $path)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sanitize a path, ensuring it is absolute and
if a directory, suffixed by a trailing slash.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$path</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPackagePrivateResourcesPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L363">at line 363</a></div>
        <code>            protected        string|null
    <strong>getPackagePrivateResourcesPath</strong>(string $packageKey)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$packageKey</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_expandGenericPathPattern">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L409">at line 409</a></div>
        <code>            protected        array
    <strong>expandGenericPathPattern</strong>(string $pattern, array $patternReplacementVariables, bool $bubbleControllerAndSubpackage, bool $formatIsOptional)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Processes following placeholders inside $pattern:</p>
<ul>
<li>&quot;@templateRoot&quot;</li>
<li>&quot;@partialRoot&quot;</li>
<li>&quot;@layoutRoot&quot;</li>
<li>&quot;@subpackage&quot;</li>
<li>&quot;@controller&quot;</li>
<li>&quot;@format&quot;</li>
</ul></p>                <p><p>This method is used to generate &quot;fallback chains&quot; for file system locations where a certain Partial can reside.</p>
<p>If $bubbleControllerAndSubpackage is false and $formatIsOptional is false, then the resulting array will only have one element
with all the above placeholders replaced.</p>
<p>If you set $bubbleControllerAndSubpackage to true, then you will get an array with potentially many elements:
The first element of the array is like above. The second element has the @ controller part set to &quot;&quot; (the empty string)
The third element now has the @ controller part again stripped off, and has the last subpackage part stripped off as well.
This continues until both &quot;@subpackage&quot; and &quot;@controller&quot; are empty.</p>
<p>Example for $bubbleControllerAndSubpackage is true, we have the MyCompany\MyPackage\MySubPackage\Controller\MyController
as Controller Object Name and the current format is &quot;html&quot;</p>
<p>If pattern is &quot;@templateRoot/@subpackage/@controller/@action.@format&quot;, then the resulting array is:</p>
<ul>
<li>&quot;Resources/Private/Templates/MySubPackage/My/@action.html&quot;</li>
<li>&quot;Resources/Private/Templates/MySubPackage/@action.html&quot;</li>
<li>&quot;Resources/Private/Templates/@action.html&quot;</li>
</ul>
<p>If you set $formatIsOptional to true, then for any of the above arrays, every element will be duplicated  - once with &quot;@format&quot;
replaced by the current request format, and once with .&quot;@format&quot; stripped off.</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$pattern</td>
                <td><p>Pattern to be resolved</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$patternReplacementVariables</td>
                <td><p>The variables to replace in the pattern</p></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$bubbleControllerAndSubpackage</td>
                <td><p>if true, then we successively split off parts from &quot;@controller&quot; and &quot;@subpackage&quot; until both are empty.</p></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$formatIsOptional</td>
                <td><p>if true, then half of the resulting strings will have .&quot;@format&quot; stripped off, and the other half will have it.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td><p>unix style paths</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_replacePatternVariable">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L446">at line 446</a></div>
        <code>            protected        array
    <strong>replacePatternVariable</strong>(array $paths, string $variableName, string $variableValue)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$paths</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$variableName</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$variableValue</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_expandSubPackageAndController">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L462">at line 462</a></div>
        <code>            protected        array
    <strong>expandSubPackageAndController</strong>(array $paths, string $controllerName, string $subPackageKey = &#039;&#039;, bool $bubbleControllerAndSubpackage = false)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$paths</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$controllerName</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$subPackageKey</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$bubbleControllerAndSubpackage</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_expandPatterns">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L496">at line 496</a></div>
        <code>            protected        array
    <strong>expandPatterns</strong>(array $patterns, string $search, array $replacements)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Expands the given $patterns by adding an array element for each $replacement
replacing occurrences of $search.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$patterns</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$search</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$replacements</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getOption">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L517">at line 517</a></div>
        <code>                    mixed
    <strong>getOption</strong>(string $optionName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Get a specific option of this object</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setOption">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L529">at line 529</a></div>
        <code>                    void
    <strong>setOption</strong>(string $optionName, mixed $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set a specific option of this object</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_createIdentifierForFile">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/7.2/Neos.FluidAdaptor/Classes/View/TemplatePaths.php#L547">at line 547</a></div>
        <code>            protected        string
    <strong>createIdentifierForFile</strong>(string|null $pathAndFilename, string $prefix)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Returns a unique identifier for the given file in the format</p>
<PackageKey>_<SubPackageKey>_<ControllerName>_<prefix>_<SHA1>
The SH1 hash is a checksum that is based on the file path and last modification date</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string|null</td>
                <td>$pathAndFilename</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$prefix</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.            <br/>Learn more about the <a href="https://flow.neos.io" rel="noreferrer noopener" target="_blank">Flow Framework</a> if you like!</div></div>
    </div>
    </body>

</html>
