<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Neos\FluidAdaptor\View\StandaloneView | Flow Framework</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../fonts/doctum-font.css">
        <script src="../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../doctum.js"></script>
        <script async defer src="../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="https://www.neos.io/favicon-32x32.png" />
        <link rel="search"
          type="application/opensearchdescription+xml"
          href="https://neos.github.io/opensearch.xml"
          title="Flow Framework (9.0)" />
    </head>

    <body id="class" data-name="class:Neos_FluidAdaptor_View_StandaloneView" data-root-path="../../../" data-search-index-url="../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Flow Framework</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                    <li><a href="../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor.html">FluidAdaptor</a></li><li class="backslash">\</li><li><a href="../../../Neos/FluidAdaptor/View.html">View</a></li><li class="backslash">\</li><li>StandaloneView</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>StandaloneView    
            </h1>
    </div>

    
    <p>        class
    <strong>StandaloneView</strong>        extends <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html"><abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a>        (<a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php">View source</a>)
</p>

        
    
        

            <div class="description">
            <p><p>A standalone template view.</p></p>            <p><p>Helpful if you want to use Fluid separately from MVC
E.g. to generate template based emails.</p></p>        </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_supportedOptions">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$supportedOptions</td>
                <td class="last"><p>This contains the supported options, their default values, descriptions and types.</p></td>
                <td><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#property_supportedOptions">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></td>
            </tr>
                    <tr>
                <td class="type" id="property_options">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$options</td>
                <td class="last"><p>The configuration options of this view</p></td>
                <td><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#property_options">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></td>
            </tr>
                    <tr>
                <td class="type" id="property_controllerContext">
                                        protected                                        <a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a>
                                                                                
                                    </td>
                <td>$controllerContext</td>
                <td class="last"></td>
                <td><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#property_controllerContext">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></td>
            </tr>
                    <tr>
                <td class="type" id="property_templateSource">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$templateSource</td>
                <td class="last"><p>Source code of the Fluid template</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_templatePathAndFilename">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$templatePathAndFilename</td>
                <td class="last"><p>absolute path of the Fluid template</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_environment">
                                        protected                                        <a href="../../../Neos/Flow/Utility/Environment.html"><abbr title="Neos\Flow\Utility\Environment">Environment</abbr></a>
                                                                                
                                    </td>
                <td>$environment</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_request">
                                        protected                                        <a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a>
                                                                                
                                    </td>
                <td>$request</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_bootstrap">
                                        protected                                        <a href="../../../Neos/Flow/Core/Bootstrap.html"><abbr title="Neos\Flow\Core\Bootstrap">Bootstrap</abbr></a>
                                                                                
                                    </td>
                <td>$bootstrap</td>
                <td class="last"></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;<a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_createWithOptions">createWithOptions</a>(array $options)
        
                                            <p><p>Factory method to create an instance with given options.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method___construct">__construct</a>(<a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a> $request = null, array $options = [])
        
                                            <p>Constructor</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplatePathAndFilename">setTemplatePathAndFilename</a>(string $templatePathAndFilename)
        
                                            <p><p>Sets the absolute path to a Fluid template file</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setControllerContext">setControllerContext</a>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setControllerContext">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8">
                    <a href="#method_canRender">canRender</a>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_canRender">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_renderSection">renderSection</a>(string $sectionName, array $variables = [], bool $ignoreUnknown = false)
        
                                            <p><p>Renders a given section.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_renderSection">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_validateOptions">validateOptions</a>(array $options)
        
                                            <p><p>Validate options given to this view.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_validateOptions">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setOptions">setOptions</a>(array $options)
        
                                            <p><p>Merges the given options with the default values
and sets the resulting options in this object.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setOptions">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_getOption">getOption</a>(string $optionName)
        
                                            <p><p>Get a specific option of this View</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_getOption">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setOption">setOption</a>(string $optionName, mixed $value)
        
                                            <p><p>Set a specific option of this View</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setOption">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_initializeObject">initializeObject</a>()
        
                                            <p><p>Initiates the StandaloneView by creating the required ControllerContext</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplate">setTemplate</a>(string $templateName)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setFormat">setFormat</a>(string $format)
        
                                            <p><p>Sets the format of the current request (default format is &quot;html&quot;)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getFormat">getFormat</a>()
        
                                            <p><p>Returns the format of the current request (defaults is &quot;html&quot;)</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a>
                </div>
                <div class="col-md-8">
                    <a href="#method_getRequest">getRequest</a>()
        
                                            <p><p>Returns the current request object</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getTemplatePathAndFilename">getTemplatePathAndFilename</a>()
        
                                            <p><p>Returns the absolute path to a Fluid template file if it was specified with setTemplatePathAndFilename() before</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplateSource">setTemplateSource</a>(string $templateSource)
        
                                            <p><p>Sets the Fluid template source
You can use setTemplatePathAndFilename() alternatively if you only want to specify the template path</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setTemplateRootPaths">setTemplateRootPaths</a>(array $templateRootPaths)
        
                                            <p><p>Set the root path(s) to the templates.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setLayoutRootPaths">setLayoutRootPaths</a>(array $layoutRootPaths)
        
                                            <p><p>Set the root path(s) to the layouts.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getLayoutRootPaths">getLayoutRootPaths</a>()
        
                                            <p><p>Resolves the layout root to be used inside other paths.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setLayoutRootPath">setLayoutRootPath</a>(string $layoutRootPath)
        
                                            <p><p>Sets the absolute path to the folder that contains Fluid layout files</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setPartialRootPaths">setPartialRootPaths</a>(array $partialRootPaths)
        
                                            <p><p>Set the root path(s) to the partials.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8">
                    <a href="#method_getPartialRootPaths">getPartialRootPaths</a>()
        
                                            <p><p>Returns the absolute path to the folder that contains Fluid partial files</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_setPartialRootPath">setPartialRootPath</a>(string $partialRootPath)
        
                                            <p><p>Sets the absolute path to the folder that contains Fluid partial files.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8">
                    <a href="#method_hasTemplate">hasTemplate</a>()
        
                                            <p><p>Checks whether a template can be resolved for the current request</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_createWithOptions">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L70">at line 70</a></div>
        <code>        static            <a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a>
    <strong>createWithOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Factory method to create an instance with given options.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Neos/Flow/Mvc/View/ViewInterface.html"><abbr title="Neos\Flow\Mvc\View\ViewInterface">ViewInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L82">at line 82</a></div>
        <code>                    
    <strong>__construct</strong>(<a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a> $request = null, array $options = [])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>Constructor</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a></td>
                <td>$request</td>
                <td><p>The current action request. If none is specified it will be created from the environment.</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/Exception.html"><abbr title="Neos\FluidAdaptor\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplatePathAndFilename">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L165">at line 165</a></div>
        <code>                    void
    <strong>setTemplatePathAndFilename</strong>(string $templatePathAndFilename)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sets the absolute path to a Fluid template file</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templatePathAndFilename</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setControllerContext">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setControllerContext">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L153">at line 153</a></div>
        <code>                    void
    <strong>setControllerContext</strong>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a></td>
                <td>$controllerContext</td>
                <td><p>Context of the controller associated with this view</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_canRender">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_canRender">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L183">at line 183</a></div>
        <code>                    bool
    <strong>canRender</strong>(<a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a> $controllerContext)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Controller/ControllerContext.html"><abbr title="Neos\Flow\Mvc\Controller\ControllerContext">ControllerContext</abbr></a></td>
                <td>$controllerContext</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td><p>true if the view has something useful to display, otherwise false</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderSection">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_renderSection">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L197">at line 197</a></div>
        <code>                    string
    <strong>renderSection</strong>(string $sectionName, array $variables = [], bool $ignoreUnknown = false)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Renders a given section.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$sectionName</td>
                <td><p>Name of section to render</p></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$variables</td>
                <td><p>The variables to use</p></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$ignoreUnknown</td>
                <td><p>Ignore an unknown section and just return an empty string</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>rendered template for the section</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidSectionException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidSectionException">InvalidSectionException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_validateOptions">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_validateOptions">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L214">at line 214</a></div>
        <code>            protected        void
    <strong>validateOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Validate options given to this view.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/Exception.html"><abbr title="Neos\FluidAdaptor\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setOptions">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setOptions">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L240">at line 240</a></div>
        <code>            protected        void
    <strong>setOptions</strong>(array $options)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Merges the given options with the default values
and sets the resulting options in this object.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getOption">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_getOption">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L260">at line 260</a></div>
        <code>                    mixed
    <strong>getOption</strong>(string $optionName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Get a specific option of this View</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Exception.html"><abbr title="Neos\Flow\Mvc\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setOption">
        <div class="location">in <a href="../../../Neos/FluidAdaptor/View/AbstractTemplateView.html#method_setOption">
<abbr title="Neos\FluidAdaptor\View\AbstractTemplateView">AbstractTemplateView</abbr></a> <a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php#L277">at line 277</a></div>
        <code>                    void
    <strong>setOption</strong>(string $optionName, mixed $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set a specific option of this View</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$optionName</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/Flow/Mvc/Exception.html"><abbr title="Neos\Flow\Mvc\Exception">Exception</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_initializeObject">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L93">at line 93</a></div>
        <code>                    void
    <strong>initializeObject</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Initiates the StandaloneView by creating the required ControllerContext</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplate">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L119">at line 119</a></div>
        <code>                    
    <strong>setTemplate</strong>(string $templateName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateName</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setFormat">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L131">at line 131</a></div>
        <code>                    void
    <strong>setFormat</strong>(string $format)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sets the format of the current request (default format is &quot;html&quot;)</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$format</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFormat">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L143">at line 143</a></div>
        <code>                    string
    <strong>getFormat</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Returns the format of the current request (defaults is &quot;html&quot;)</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>$format</td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRequest">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L153">at line 153</a></div>
        <code>                    <a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a>
    <strong>getRequest</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Returns the current request object</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Neos/Flow/Mvc/ActionRequest.html"><abbr title="Neos\Flow\Mvc\ActionRequest">ActionRequest</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplatePathAndFilename">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L183">at line 183</a></div>
        <code>                    string
    <strong>getTemplatePathAndFilename</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Returns the absolute path to a Fluid template file if it was specified with setTemplatePathAndFilename() before</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>Fluid template path</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplateSource">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L196">at line 196</a></div>
        <code>                    void
    <strong>setTemplateSource</strong>(string $templateSource)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sets the Fluid template source
You can use setTemplatePathAndFilename() alternatively if you only want to specify the template path</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateSource</td>
                <td><p>Fluid template source code</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setTemplateRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L208">at line 208</a></div>
        <code>                    void
    <strong>setTemplateRootPaths</strong>(array $templateRootPaths)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set the root path(s) to the templates.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$templateRootPaths</td>
                <td><p>Root paths to the templates.</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setLayoutRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L220">at line 220</a></div>
        <code>                    void
    <strong>setLayoutRootPaths</strong>(array $layoutRootPaths)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set the root path(s) to the layouts.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$layoutRootPaths</td>
                <td><p>Root path to the layouts</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLayoutRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L232">at line 232</a></div>
        <code>                    string
    <strong>getLayoutRootPaths</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Resolves the layout root to be used inside other paths.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>Fluid layout root path</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setLayoutRootPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L244">at line 244</a></div>
        <code>                    void
    <strong>setLayoutRootPath</strong>(string $layoutRootPath)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sets the absolute path to the folder that contains Fluid layout files</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$layoutRootPath</td>
                <td><p>Fluid layout root path</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPartialRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L257">at line 257</a></div>
        <code>                    void
    <strong>setPartialRootPaths</strong>(array $partialRootPaths)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Set the root path(s) to the partials.</p></p>                <p><p>If set, overrides the one determined from $this-&gt;partialRootPathPattern</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$partialRootPaths</td>
                <td><p>Root paths to the partials. If set, overrides the one determined from $this-&gt;partialRootPathPattern</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPartialRootPaths">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L269">at line 269</a></div>
        <code>                    string
    <strong>getPartialRootPaths</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Returns the absolute path to the folder that contains Fluid partial files</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td><p>Fluid partial root path</p></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Neos/FluidAdaptor/View/Exception/InvalidTemplateResourceException.html"><abbr title="Neos\FluidAdaptor\View\Exception\InvalidTemplateResourceException">InvalidTemplateResourceException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPartialRootPath">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L281">at line 281</a></div>
        <code>                    void
    <strong>setPartialRootPath</strong>(string $partialRootPath)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Sets the absolute path to the folder that contains Fluid partial files.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$partialRootPath</td>
                <td><p>Fluid partial root path</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_hasTemplate">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/9.0/Neos.FluidAdaptor/Classes/View/StandaloneView.php#L292">at line 292</a></div>
        <code>                    bool
    <strong>hasTemplate</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Checks whether a template can be resolved for the current request</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.            <br/>Learn more about the <a href="https://flow.neos.io" rel="noreferrer noopener" target="_blank">Flow Framework</a> if you like!</div></div>
    </div>
    </body>

</html>
