<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Neos\Flow\Http\Component\ComponentContext | Flow Framework</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../../fonts/doctum-font.css">
        <script src="../../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../doctum.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="https://www.neos.io/favicon-32x32.png" />
        <link rel="search"
          type="application/opensearchdescription+xml"
          href="https://neos.github.io/opensearch.xml"
          title="Flow Framework (6.3)" />
    </head>

    <body id="class" data-name="class:Neos_Flow_Http_Component_ComponentContext" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">Flow Framework</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                    <li><a href="../../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../Neos.html">Neos</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Flow.html">Flow</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Flow/Http.html">Http</a></li><li class="backslash">\</li><li><a href="../../../../Neos/Flow/Http/Component.html">Component</a></li><li class="backslash">\</li><li>ComponentContext</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>ComponentContext    <small><span class="label label-danger">deprecated</span></small>
            </h1>
    </div>

    
    <p>        class
    <strong>ComponentContext</strong>        (<a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php">View source</a>)
</p>

        
            <p>
                <small><span class="label label-danger">deprecated</span></small>
                            <tr>
                    <td>Will</td>
                    <td>be removed without replacement with next major</td>
                </tr>
                    </p>
    
        

            <div class="description">
            <p><p>The component context</p></p>            <p><p>An instance of this class will be passed to each component of the chain allowing them to read/write parameters to/from it.
Besides handling of the chain is interrupted as soon as the &quot;cancelled&quot; flag is set.</p>
<p>The instance will be created before the bootstrap, so AOP/DI proxying is not possible.</p></p>        </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_httpRequest">
                                        protected                                        <abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr>
                                                                                
                                    </td>
                <td>$httpRequest</td>
                <td class="last"><p>The current HTTP request</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_httpResponse">
                                        protected                                        <abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr>
                                                                                
                                    </td>
                <td>$httpResponse</td>
                <td class="last"><p>The current HTTP response</p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_parameters">
                                        protected                                        array
                                                                                
                                    </td>
                <td>$parameters</td>
                <td class="last"><p>Two-dimensional array storing an parameter dictionary (containing variables that can be read/written by all components)
The first dimension is the fully qualified Component name, the second dimension is the identifier for the parameter.</p></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method___construct">__construct</a>(<abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr> $httpRequest, <abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr> $httpResponse)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getHttpRequest">getHttpRequest</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_replaceHttpRequest">replaceHttpRequest</a>(<abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr> $httpRequest)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getHttpResponse">getHttpResponse</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8">
                    <a href="#method_replaceHttpResponse">replaceHttpResponse</a>(<abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr> $httpResponse)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8">
                    <a href="#method_getParameter">getParameter</a>(string $componentClassName, string $parameterName)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8">
                    <a href="#method_getAllParametersFor">getAllParametersFor</a>(string $componentClassName)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_setParameter">setParameter</a>(string $componentClassName, string $parameterName, mixed $value)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L60">at line 60</a></div>
        <code>                    
    <strong>__construct</strong>(<abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr> $httpRequest, <abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr> $httpResponse)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr></td>
                <td>$httpRequest</td>
                <td></td>
            </tr>
                    <tr>
                <td><abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr></td>
                <td>$httpResponse</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getHttpRequest">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L70">at line 70</a></div>
        <code>                    <abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr>
    <strong>getHttpRequest</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_replaceHttpRequest">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L80">at line 80</a></div>
        <code>                    void
    <strong>replaceHttpRequest</strong>(<abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr> $httpRequest)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Psr\Http\Message\ServerRequestInterface">ServerRequestInterface</abbr></td>
                <td>$httpRequest</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getHttpResponse">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L89">at line 89</a></div>
        <code>                    <abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr>
    <strong>getHttpResponse</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_replaceHttpResponse">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L99">at line 99</a></div>
        <code>                    void
    <strong>replaceHttpResponse</strong>(<abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr> $httpResponse)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Psr\Http\Message\ResponseInterface">ResponseInterface</abbr></td>
                <td>$httpResponse</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getParameter">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L110">at line 110</a></div>
        <code>                    mixed
    <strong>getParameter</strong>(string $componentClassName, string $parameterName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$componentClassName</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$parameterName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAllParametersFor">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L119">at line 119</a></div>
        <code>                    array
    <strong>getAllParametersFor</strong>(string $componentClassName)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$componentClassName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setParameter">
        <div class="location"><a href="https://github.com/neos/flow-development-collection/blob/6.3/Neos.Flow/Classes/Http/Component/ComponentContext.php#L130">at line 130</a></div>
        <code>                    
    <strong>setParameter</strong>(string $componentClassName, string $parameterName, mixed $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$componentClassName</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$parameterName</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.            <br/>Learn more about the <a href="https://flow.neos.io" rel="noreferrer noopener" target="_blank">Flow Framework</a> if you like!</div></div>
    </div>
    </body>

</html>
